<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand">#</a>
        <ul class="nav navbar-nav">
            <li>
                <a href="">Productos</a>
            </li>
            <li>
                <a href="">Clientes</a>
            </li>
        </ul>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>